<%# Landing Page %>

<section class="home" data-controller="burg">
  <button class="hamburger-menu" aria-label="Menu">
    <span class="hamburger-icon"></span>
  </button>
  <% if user_signed_in? %>
  <ul class="menu">
    <li><%= link_to "account", account_path, class: "navbar-c" %></li>
    <li><%= link_to "gallery", root_path, class: "navbar-c" %></li>
    <li><%= link_to "learn", root_path, class: "navbar-c" %></li>
  </ul>
  <% else %>
  <ul class="menu">
    <li><%= link_to "sign up", new_user_registration_path, class: "navbar-c" %></li>
  </ul>
  <% end %>
  <div class="home-container">
    <div class="left-content">
      <div class="img"></div>
    </div>
    <div class="middle-content">
      <div class="header-content">
        <h1>filmy-j</h1>
        <h3>film journal | film community</h3>
      </div>
      <div class="example-content">
        <div class="left-side">
          <p class="ex-field">shutter speed</p>
          <p class="ex-field">aperature</p>
          <p class="ex-field">description</p>
        </div>
        <div class="right-side">
          <p>1/125</p>
          <p>f2.5</p>
          <p>beautiful mountain evening after skiing looking up at the clouds for sunset</p>
        </div>
      </div>
      <% if user_signed_in? %>
        <div class="button">
          <p><%= link_to "ENTER", cameras_path, class: "start-button" %></p>
        </div>
        <% else %>
        <div class="button">
          <p><%= link_to "SIGN UP", new_user_registration_path, class: "start-button" %></p>
        </div>
        <% end %>
    </div>
    <div class="right-content">
    <% if user_signed_in? %>
      <div class="navbar-column">
        <p><%= link_to "account", account_path, class: "navbar-c" %></p>
        <p><%= link_to "gallery", root_path, class: "navbar-c" %></p>
        <p><%= link_to "learn", root_path, class: "navbar-c" %></p>
      </div>
      <% else %>
      <div class="navbar-column">
        <p><%= link_to "sign up", new_user_registration_path, class: "navbar-c" %></p>
      </div>
      <% end %>
    </div>
  </div>
</section>
