<%# app/views/rolls/_roll.html.erb %>

<%# GOES IN THE ROLLS INDEX.HTML PAGE AND HOLDS THE INDIVIDUAL ROLL INFORMATION %>
<%# This is what the roll of film looks like and will have the ability to upload images and settings for the camera %>
<div class="main-roll-container">
  <div class="photo-row-container">
    <h3>FILM: <%=  @roll.roll_type.upcase %></h3>
    <div class="frame-grid-template">
      <% @frames.each_with_index do |frame, index| %>
          <div class="frame">
            <% if frame.photo.attached? %>
              <%= image_tag(frame.photo, class: "frame-image") %>
            <% end %>
            <p class="index-num"><%= index + 1 %></p>
            <div class="image-detail-container">
              <div class="details-container">
                <p class="shutter_speed">shutter speed:</p>
                <p><%= frame.shutter_speed %></p>
              </div>
              <div class="details-container">
                <p class="aperture">aperture:</p>
                <p><%= frame.aperture %></p>
              </div>
              <p class="description"><%= frame.description %></p>
            </div>
          </div>
        <% end %>
        <div class="new-frame">
          <p><%= link_to "add frame", new_camera_roll_frame_path(@camera, @roll), class: "frame-button" %></p>
        </div>
    </div>
  </div>
</div>
