<div class="camera-nav">
  <%= link_to root_path do %>
    <p><span class="letter">filmy</span><span class="letter">-</span><span class="letter">j</span></p>
  <% end %>
</div>

<div class="back">
  <%= link_to "BACK TO CAMERAS", cameras_path, class: "back-button" %>
</div>

<div class="film-header-container">
  <h1><%= @camera.model.upcase %> FILM</h1>
</div>

<div class="rolls-container" data-controller="film">
  <div class="roll-list">
    <% @cameras_rolls.each do |roll| %>
      <%# <%= link_to camera_roll_path(id: roll.id) do %>
        <p class="roll-item" id="<%= roll.id %>" ><%= roll.name %></p>
      <%# <% end %>
    <% end %>
    <%= link_to new_camera_roll_path, class: "roll-item" do %>
      <%# <div class="roll-item" id="new">+</div> %>
      <p>+</p>
    <% end %>
  </div>
</div>
